<div id="bu-container" class="container p-2">

    <br>

    <div class="row m-0">

        <div class="col-4 p-1">

            <input placeholder="Search" type="text" class="form-control form-control-sm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

        </div>

        <div class="col-7 p-1">
            
        </div>

        <div class="col-1 p-1 bu-arrange-content-middle">

            <button class="btn btn-sm btn-outline-success">+</button>
            
        </div>

    </div>

    <hr>

    <div class="row m-0">

        <div class="col-12 p-1">

            <div  class="list-group-item p-1">

                <router-outlet></router-outlet>

            </div>

        </div>

    </div>

</div>
