<div *ngIf="!loading">

    <div  *ngFor="let DiskEvent of buDiskEvents" class="row m-0">

        <div class="col-12 p-1">
    
            <div class="list-group-item bu-disk-event-list-group-item p-1">
    
                <div class="row m-0">
    
                    <div class="col-9 p-0">
    
                        <div class="bu-rulename bu-arrange-content-middle-left-column">
                    
                            <span class="bu-rule-name">{{ DiskEvent.rule_name }}</span>
                            <span class="bu-rule-count">rule instances: {{ DiskEvent.event_count }}</span>
        
                        </div>
    
                    </div>
    
                    <div class="col-3 p-0">
    
                        <div class="bu-edit float-right">
                            
                            <a [routerLink]="['/bu-dynatrace/disk-events/list', DiskEvent.rule_name]" class="btn btn-sm btn-outline-primary">Edit</a>
                            
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>

</div>

<div *ngIf="loading" class="bu-loading-container list-group-item p-1 text-center bu-arrange-content-middle-column">

    <app-bu-loading></app-bu-loading>
    <br>
    <span>Getting Disk Events...</span>

</div>