.bu-display {
    display: block;
}
.bu-hide {
    display: none;
}
.bu-labels {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.bu-threshold {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.bu-configs-closed {
    display: none;
    opacity: 0;
}
.bu-configs-open {
    display: block;
    opacity: 1;
}
