<div *ngIf="!loading" class="p-3">
  <span>{{ ruleName }}</span>
  <button style="font-size: 10px;" (click)="goToDiskEvents()" class="btn btn-sm btn-outline-warning float-right">X</button>
  <hr>
  <div class="list-group-item">
    
    <div class="row m-0">

      <div class="col-12 p-1">

        <div class="row m-0">

          <div class="col-11">
            Disk
          </div>

          <div class="col-1 p-0 bu-arrange-content-middle-column">
            <button style="font-size: 10px;" class="btn btn-sm btn-outline-success" >+</button>
          </div>

        </div>

        <hr>

      </div>
      <div *ngFor="let DiskEvetitem of diskFilters" class="col-4 p-1">
        
        
        <app-bu-disk-event-form-builder [DiskEvetitem]="DiskEvetitem" ></app-bu-disk-event-form-builder>
        

      </div>

    </div>

  </div>
</div>

<div *ngIf="loading" class="bu-loading-container list-group-item p-1 text-center bu-arrange-content-middle-column">

  <app-bu-loading></app-bu-loading>
  <br>
  <span>Getting Disk Event...</span>

</div>