/* You can add global styles to this file, and also import other style files */
.bu-arrange-content-middle {
    display: flex;
    justify-content:center;
    align-items: center;
}
.bu-arrange-content-middle-column {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.bu-arrange-content-middle-left-column {
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
}